.container{
    display: flex;
    gap:12px;
    justify-content: space-between;
    align-items:center;
    padding: 2px;
    background-color:darkgray;
    


}
.heading{
    font-size: 1rem;
    font-weight:bolder ;
}

.list{
    
    display:flex;
    gap: 20px;
    font-weight: bold;
    padding-top:4px;
    padding-bottom: 6px;
    justify-items: center;
    
}


    