.container{
    padding-top: 8px;
    padding-bottom: 10px;
    background-color:bisque;
}
.heading{
     padding-top:4px;
     padding-bottom: 5px;
    font-size:x-large;
    font-weight: 400;
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;


}
.para{
    text-decoration:solid;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 50px;
    
}